@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';
@import '../../styles/partials/fonts';

.next-video {
    margin: 40px auto;
    width: 90%;
    &__list-wrapper {
        display: flex;
        flex-direction: column;
    }
    &__wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 14px 0;
    }
    &__thumbnail {
        width: 40%;
        // background-color: grey;
        height: 70px;
        border-radius: 5px;
    }
    &__info-wrapper {
        width: 56%;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__description {
        font-family: "avenir-demi-bold";
    }
    &__author {
        margin-bottom: 8px;
    }
}